


.App {
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: teal;
  margin: 0 auto;
  padding: 1rem;
}

.padding-0 {
  padding: 0;
}

.teal-text {
  color: teal;
}


 .SkillList {
  display: grid;
  gap: 1rem;

  margin: 0 auto;
  font-size: 1rem;
  font-weight: bold;
  color: teal;
  text-align: left;
  border-radius: 0.3rem;
  padding: 1rem;
}
.SkillListItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 0.6rem;
  border: 0.2rem solid coral;
  border-radius: 0.3rem;
  list-style: none;
  color: teal;
  font-size: 1.4rem;
  font-weight: bold;
  width: 50%;
  margin: 0 auto;


}

.SkillListItem > .level {
  margin-left: 5rem;
  padding: 0.3rem 0.8rem;
  color: white;
  background-color: teal;
  border-radius: 0.8rem;
  font-size: 0.8rem;
  font-weight: normal;
  width: 50px;
  text-align: center;
  
}



.NewSkillForm {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
  border: 0.2rem solid coral;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;
  color: teal;
  border: 0.2rem solid coral;
  border-radius: 0.3rem;
  padding: 1rem;
  width: 50%;
}


.SkillList {
  width: 600px; 
}

.NewSkillForm {
  width: 400px; 
}


@media screen and (max-width: 768px) {
  .SkillList, .NewSkillForm {
    width: 100%;
  }
}




.NewSkillForm label {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: teal;
  border-radius: 0.3rem; 
  width: 100%;
}

.NewSkillForm label select {
  width: 100%;
 
}

.NewSkillForm label input {
  width: 100%;
 
}


.NewSkillForm input,
.NewSkillForm select,
.NewSkillForm button {
  padding: 10px;
  margin-top: 5px;
  border: 2px solid coral; 
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  color: teal;
  padding: 0.2rem;
  border: 0.2rem solid coral;
  border-radius: 0.3rem;
  width: 240px;
  margin: 0 auto;
}

.NewSkillForm label input {
  margin-left: 20px; 
}
.NewSkillForm label select {
  margin-left: 15px; 
}


.NewSkillForm > button {
  grid-column: span 2;
  font-size: 1rem;
  font-weight: bold;
  width: 65%;
  margin: 0 auto;
  color: white;
  padding: 0.2rem;
  background-color: teal;
  border: 0.2rem solid teal;
  border-radius: 0.3rem;
}  


.NewSkillForm button {
  background-color: teal; 
  color: white;
  cursor: pointer;

}

.NewSkillForm button:hover {
  color: coral
}


